.contact {
  text-align: center;
  padding: 40px;
}

.contact {
  text-align: center;
  padding: 60px 20px;
  background: #444343;
  color: white;
}

  .contact button {
    margin-top: 20px;
    padding: 10px 20px;
    background: red;
    color: white;
    border-radius: 20px;
  }

    .contact button:hover {
      transform: scale(1.05);
    }

.primary {
  background: red;
  color: white;
}



.primary {
  background: linear-gradient(45deg, #850101, #ff0000);
  color: white;
}

  .primary:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(255,0,0,0.4);
  }
