.contact {
  text-align: center;
  padding: 40px;
}

.contact {
  text-align: center;
  padding: 60px 20px;
  background: #111;
  color: white;
}

  .contact button {
    margin-top: 20px;
    padding: 10px 20px;
    background: red;
    color: white;
    border-radius: 20px;
  }

    .contact button:hover {
      transform: scale(1.05);
    }
