<div class="services">
  <h2>Our Services</h2>

  <div class="card-container">

    <div class="card">
      <h3>
        <i class="bi bi-car-front"></i> Car Service
      </h3>
      <p>₹3999 + GST</p>
      <ul>
        <li>Oil Change</li>
        <li>Brake Check</li>
        <li>Pickup & Drop</li>
      </ul>
    </div>

    <div class="card">
      <h3>
        <i class="bi bi-bicycle"></i> Bike Service
      </h3>
      <p>Starts ₹299</p>
      <ul>
        <li>4 Free Services</li>
        <li>6hr Delivery</li>
      </ul>
    </div>

    <div class="card">
      <h3>
        <i class="bi bi-tools"></i> Roadside Assistance
      </h3>
      <p>Available Anytime</p>
    </div>

  </div>
</div>
